.bacgraund {
  background-color: rgba(24, 25, 27, 1);
  z-index: 1;
}

.title {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.15000000596046448px;
    
  color: rgba(135, 206, 235, 1);
}
